
.vcr-controls {
    border: 1px solid #ccc;
}

.vcr-controls .progress {
    display: inline-block;
    width: 40%;
}

.vcr-controls ul {
    display: inline-block;
    list-style: none;
}

.vcr-controls ul li {
    display: inline-block;
}

.vcr-controls ul li i {

}

.vcr-controls ul li i:hover {
}

.vcr-controls ul li.active {
}

.vcr-controls ul li.active i {
}

.vcr-controls ul li .speed {
}

